.w-100 {
    width: 100% !important;
}

.img-100, .img-100 img {
    width: 100% !important;
}

[class^="hs-"], [class*=" hs-"] {
    font-family: 'Roboto';
    font-weight: 500 !important;
    font-style: normal !important;
    letter-spacing: normal;
    color: #449dd1;
    padding: 0 0 15px !important;
}

.hs-16, .hs-16 .title {
    font-size: 16px !important;
    line-height: 16px !important;
}

.hs-18, .hs-18 .title {
    font-size: 18px !important;
    line-height: 18px !important;
}

.hs-20, .hs-20 .title {
    font-size: 20px !important;
    line-height: 20px !important;
}

.hs-22, .hs-22 .title {
    font-size: 22px !important;
    line-height: 22px !important;
}

.hs-30, .hs-30 .title {
    font-size: 30px !important;
    line-height: 30px !important;
}

.hs-40, .hs-40 .title {
    font-size: 40px !important;
    line-height: 40px !important;
}

.hs-50, .hs-50 .title, .gsc-heading.style-1.hs-50 .title {
    font-size: 50px !important;
    line-height: 50px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.nowrap {
    white-space: nowrap !important;
}

.v-center {
    align-self: center !important;
}

.v-box-center {
    justify-content: center;
}

.p-mb-50 p { margin-bottom: 40px!important; }
.mb-40 {
    margin-bottom: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.btn-black a {
    background: #000 !important;
}
.btn-full-width.extra-large.gsc-button{
  width:100%;
  text-align:center;
  background:#3680ac;
  font-size: 28px;
  padding: 3rem 0;
  font-weight: normal;
  box-shadow: none;
  border-radius: none;
}
.btn-full-width:hover{
  background:#234d61!important;
}
.btn-full-width:after{
  content: '\f063';
  font-family: "Font Awesome 5 Free";
  border-bottom: 3px solid;
  margin-left: 3rem;
  padding-bottom: 2px;
  font-size: 2.2rem;
  top: -4px;
  position: relative;
}
.gsc-button {
    border-width: 1px !important;
}

/* Header Menu BUttons*/
#block-menuthird{}
#block-menuthird .menu-item{}
#block-menuthird .menu-item a{
  border-radius: 30px;
  border: solid 2px #4cb0c9;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0;
  color: #245871 !important;
  padding: 12px 11px!important;
  margin-top: 12px;
  margin-left: 20px;
}
#block-menuthird .menu-item a:hover{
	background: #4cb0c9;
	color: #fff;
}
/* ============================== */

footer#footer .footersecond-menu {
    padding: 13px 0 80px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer#footer .footersecond-menu ul {
}

footer#footer .footersecond-menu ul li {
}

footer#footer .footersecond-menu .a {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #449DD1;
    border-radius: 3px;
}

footer#footer .footersecond-menu .a:hover {
    background-color: #449DD1;
    color: #fff;
}
.panel-body p{
  padding-bottom:1.2em;
}
.panel.open{
  padding:0;
  background:#245871;
}
.panel.open .panel-heading{
  padding:26px !important;
  margin-bottom: 21px;
}
.panel h2, .panel h2 span, .panel h4 span, .panel h4{
  color:#449dd1 !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  font-style:normal !important;
  text-transform:none;
}
.panel h2 span, .panel h4 span, .panel-body .panel h4{
    padding: 1em 0 0.4em 0;
}
.panel h3, .panel h3 span{
  color:#449dd1 !important;
}
.panel.open p, .panel p span, .panel li span, .panel li{
  color:#edf0f5 !important;
  font-size: 20px !important;
  line-height: 1.3 !important;
  background: unset !important;
}
.panel li{
  padding:1rem;
}
.panel-default > .panel-heading {
  color: unset;
}
.panel-body a{
  color:#449dd1;
}

input#edit-submit.button {
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 6rem;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  background: #00b0c9;
  color: #fff;
  letter-spacing: 1px;
  border: none;
}

@media (min-width: 991px) {
    header.header-v1 .main-menu nav.menu--main {
        float: left;
    }

    header.header-v1 .main-menu nav.menu--menu-second {
        float: right;
    }

    header.header-v1 .main-menu nav.menu--menu-second a {
        text-transform: none;
        font-weight: normal;
    }

    header.header-v1 .main-menu nav.menu--menu-third {
        float: right;
    }

    header.header-v1 .main-menu nav.menu--menu-third a {
        text-transform: none;
        font-weight: normal;
    }
    .waves-interior.press-kit{
      padding-top: 17rem;
    }
    .wwf-accordion .panel {
      width:calc(50% - 20px);
      float:left;
    }
    .wwf-accordion .panel:nth-child(odd){
      margin-right:20px;
    }
    .panel:nth-child(odd){
      clear:both;
    }
    .panel.open .panel-collapse{
      width: calc(200% + 20px);
      background: #245871;
    }
    .panel.open:nth-child(even) .panel-collapse{
      right:calc(100% + 20px);
      position: relative;
    }
    .panel-body{
      padding:2rem 5rem 5rem 5rem;
    }
}

header.header-v1 .header-main .site-branding-logo {
    padding: 14px 0;
}



.gsc-heading.style-1 .title {
    font-size: 38px;
    font-weight: 600 !important;
    position: relative;
    padding-bottom: 10px !important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: none !important;
    line-height: 60px;
    color:#449dd1;
}

.gsc-heading.style-1.fs-30 .title {
    font-size: 30px !important;
    line-height: 45px;
}

.gsc-heading .sub-title {
    color: #919191 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    letter-spacing: normal !important;
    margin-bottom: 5px !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal !important;
}


.Home-Banner {
}

.Home-Banner .bb-inner {
    background: rgba(0, 0, 0, 0.3);
}

.Home-Banner .column-inner {
    min-height: 360px;
    display: flex;
    align-items: left;
    justify-content: center;
}

.Home-Banner .gsc-call-to-action.button-bottom .title,
.Home-Banner .gsc-call-to-action.button-center .title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.Home-Banner .desc {
    line-height: 1.5 !important;
}

.Home-Banner .button-action {
    margin-top: 50px !important;
}

@media ( min-width: 768px) {
    .Home-Banner .gsc-call-to-action.button-bottom .title,
    .Home-Banner .gsc-call-to-action.button-center .title {
        font-size: 52px;
        line-height: 65px;

    }
}

.Home-Banner .gsc-call-to-action.button-bottom .title:after,
.Home-Banner .gsc-call-to-action.button-center .title:after {
    display: none;
}

.Home-Banner .btn-white {
    text-transform: uppercase;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #000000;
}

.Home-Banner .btn-white:hover {
    background: #000;
    color: #fff;
}

.shadow-box,
.FeatureBlock {
    margin: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    transition: all 0.3s;

}


.FeatureBlock .title {
    margin-top: 25px !important;

	font-family: "Roboto", sans-serif!important;
    font-weight: 600!important;
    font-size: 18px!important;
}

.shadow-box {
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 20px !important;
}

.shadow-box:hover, .FeatureBlock:hover {
   /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

.shadow-box a:hover, .FeatureBlock a:hover {
    color: #449DD1;
}

.shadow-box .desc, .FeatureBlock .desc {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
}

.service-timeline > li .hentry .icon {
    font-size: 38px !important;
    line-height: 73px !important;
}

.newsletter-block-1 {
    color: #000 !important;
}

.newsletter-block-1 .block-title {
    margin: 0 !important;
    text-transform: capitalize !important;
    font-family: 'Roboto', sans-serif !important;
    padding: 0 !important;
    font-size: 38px !important;
    letter-spacing: 0.5px !important;
}

.newsletter-block-1 .block-title:after {
    display: none !important;
}

.newsletter-block-1 .form-wrapper {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 0 !important;
}

.newsletter-block-1 .form-wrapper.col-md-3 {
    padding: 0!important;
}
.newsletter-block-1 .form-wrapper.col-md-3 .form-actions{
	 padding: 0!important;
}

.newsletter-block-1 #edit-message {
    margin-bottom: 20px !important
}

.footer-newsletter .newsletter-block-1 #edit-message {
    margin-bottom: 0px !important
}

.newsletter-block-1 input.form-email {
    max-width: 465px !important;
}

.newsletter-block-1 input[type="text"], .newsletter-block-1 input[type="email"] {
    height: 38px !important;
    padding: 6px 12px !important;
    font-size: 15px !important;
    line-height: 1.6 !important;
    color: #555555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
}

.newsletter-block-1 input[type="submit"] {
    background: #000 !important;
    line-height: 37px !important;
	border-radius: 4px !important;
}

.newsletter-block-1 input[type="submit"]:hover {
    background: #449DD1 !important;
}


.Inner-header {
    text-align: center;
}

.Inner-header .gsc-heading {
    padding: 0 0 15px;
}

.Inner-header .gsc-heading.style-1 .title {
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    color: #245871;
    margin-top: 6rem;
}
.contact-us .Inner-header .gsc-heading.style-1 .title{
  margin-top: 0;
}
.contact-us .Inner-header {
  text-align: left;
}

.frontpage .Inner-header .gsc-heading.style-1 .title {
  font-size: 50px;
}

.Inner-header .gsc-heading.style-1 .title-desc {
    color: #728994;
    font-size: 24px;
    /* padding-bottom: 20px; */
    line-height: 1.25;
    padding-left: 5rem;
    margin-top: 0;
    padding-right: 5rem;
}

.btn-center, .Inner-header .gsc-button {
  /*background: #449DD1;
  color: #fff;
  transition: all 0.3s;
font-size: 12px;
font-weight: 600;
padding: 0 24px !important;
position: relative;
display: inline-block;
line-height: 46px;
border-radius: 3px;
text-transform: uppercase;
border: none;
font-family: "Poppins", sans-serif;*/
}

.btn-center {
    margin: 0 auto !important;
    display: inline-block !important;;
}

.info-block.gsc-heading.style-1 .title {
    font-size: 32px !important;
    font-weight: normal !important;
    margin-bottom: 40px !important;
    font-family: "Poppins", sans-serif !important;
    line-height: 1.2 !important;
    color: #222 !important;
    text-transform: capitalize !important;
}

.gsc-icon-box-new.style-1 {
    padding: 10px !important;
    min-height: 10px !important;
}

.gsc-icon-box-new.style-1 .icon-inner, .gsc-icon-box-new.style-1 .content-inner {
    display: inline-block !important;
}

.gsc-icon-box-new.style-1 .icon-inner {
    border-radius: 100%;
    position: relative !important;
    background: #4CB0C9 !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    line-height: 40px !important;
    margin-right: 10px !important;
    color: #fff !important;
    font-size: 20px !important;
}

.gsc-icon-box-new.style-1 .icon-inner .icon {
    font-size: 20px !important;
}

.gsc-icon-box-new.style-1 .content-inner {
    padding: 0 !important;
    list-style: none;
    color: #000;
}

.gsc-icon-box-new.style-1 .content-inner .title {
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 20px;
    margin-bottom: 0px !important;
    color: #000 !important;
}

/* how-it-works Page Css */
.gsc-heading.style-2 .title {
    color: #439dd1 !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
}

.w-100 .title-desc {
    width: auto !important;
    max-width: 100% !important;
}

.info-list {
    background: #fff;
    padding: 15px 15px 15px 40px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .1)
}

.info-list:before {
    background: #439DD1;
    content: " ";
    width: 25px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.issuers-block {
    padding: 50px 0;
}

.issuers-block .column-inner {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.issuers-block .gsc-heading.style-1 h2.title {
    font-weight: normal !important;
}

.steps-row .gsc-column {
    padding: 0 25px !important;
}

.steps-row .gsc-column p {
    line-height: 1.5 !important;
}

/* wwf-accordion */
.wwf-accordion {
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
}

.wwf-accordion .panel {
    border-radius: 0 !important;
    border-bottom: 2px solid #EFEFEF !important;
    margin-bottom: 2rem;
}

.wwf-accordion .panel:last-child {
    border-bottom: 0px !important;
}

.wwf-accordion .panel-heading .panel-title {
    font-size: 24px !important;
    padding-right: 0px !important;
}

.wwf-accordion .panel .panel-heading .panel-title > a {
    padding-left: 30px;
    font-weight: 500 !important;
    text-transform: initial;
    color: #245871;
}

/* inverstor-articles */
.inverstor-articles .team-block.team-v1 {
    margin: 20px;
}

.inverstor-articles .team-block.team-v1 .team-content {
    min-height: 190px;
    position: relative;
}

.inverstor-articles .team-block.team-v1 .team-content .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #469ED0;
}

.inverstor-articles .team-block.team-v1 .team-content .read-more a {
    font-size: 12px;
    color: #469ED0;
}


/* icon-block-01 */
.icon-block-01 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.icon-block-01 .title {
    font-family: "Roboto", sans-serif;
    margin-top: 17px !important;
}

.icon-block-01 .desc {
    font-family: "Roboto", sans-serif;
    margin: 17px 0;
	color: #000;
}

.icon-block-01 .read-more a {
    font-family: "Roboto", sans-serif;
    color: #54B3CA;
    font-size: 12px;
}

.icon-block-01 .read-more a i {
    margin-left: 10px;
}


/* footer-newsletter */
.footer-newsletter {
}

.footer-newsletter .block.no-title {
   /* margin-top: -22px !important;*/

}
.footer-newsletter .webform-submission-form .form-item{
	margin-bottom: 0!important;
}
.footer-newsletter .gsc-heading {
    padding: 0 !important;
}

.footer-newsletter .gsc-heading h2.title {
    padding-bottom: 0 !important;
    font-size: 28px !important;
    line-height: 1.6 !important;
    font-weight: 300 !important;
}

.footer-newsletter {
}


#footer .menu--footer-second ul{
	display: block!important;
}
#footer .menu--footer-second ul li{
}

#block-userlogin {
    text-align: left;
}

#block-userlogin #user-login-form input {
    margin-bottom: 10px;
}

#block-userlogin ul {
    padding-left: 0;
}


#block-footerthird{ float: right; }
@media (max-width: 767px){
	.menu--footer, #block-footerthird{
		float: none!important;
		text-align: center;
		width: 100%;
		padding: 0;
	}
	#footer .gva_menu{ padding: 0px; margin: 0px;}


	.footer-newsletter .gsc-heading h2.title{
		text-align: center;
	}
	.newsletter-block-1 .form-wrapper{
		display: block!important;
		text-align: center!important;
		padding: 20px 0!important;
	}


}

/* About Us Team Blocks */
.TeamBloks {
}

.TeamBloks .views-col {
  padding: 7px;
}

.TeamBloks .team-v1 {
}

.TeamBloks .team-quote{
  display: none;
}

.TeamBloks .team-v1 .read-more {
    text-align: right;
}

.TeamBloks .team-v1 .read-more a {
    color: #245871;
    font-weight: bold;
    display: block;
    width: 100%;
    background: #f6f7fa;
    padding: 1.5rem 3rem;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
.TeamBloks .team-v1 .read-more a:after {
    content: '\f067';
    font-family: 'FontAwesome';
    color: #449dd1;
    margin-left: 3rem;
  font-size: 1.5rem;
}

/* Company Info Blocks */
.CompanyBlock {
    max-width: 290px;
    width: 100%;
    margin: 8px auto;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    font-family: Roboto;
}

.CompanyBlock .image {
    width: 100%;
    height: 193px;
    background-color: #d8d8d8;
    position: relative;
}

.CompanyBlock .thumb {
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    position: absolute;
    bottom: -35px;
    left: 24px;
}

.CompanyBlock .info {
    padding: 15px;
    padding-top: 40px;
}

.CompanyBlock .title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #262626;
    margin-bottom: 0 !important;
}

.CompanyBlock .city {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #262626;
    margin-top: 0px !important;
}

.CompanyBlock p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
}

.CompanyBlock .price-info {
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #000000;
}

.CompanyBlock .price-info .price {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #449dd1;
}

.CompanyBlock .note {
    font-size: 8px;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.how-it-works-steps .gsc-icon-box {
}

.how-it-works-steps .gsc-icon-box .icon {
}

.how-it-works-steps .gsc-icon-box .highlight_content {
    max-width: 100% !important;
}

.how-it-works-steps .gsc-icon-box .title {
    font-family: Roboto !important;;
    font-size: 18px !important;
    font-weight: 500 !important;;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #449dd1 !important;;
}

.how-it-works-steps.teal .gsc-icon-box .title {
    color: #4cb0c9 !important;
}

.how-it-works-steps .gsc-icon-box .desc {
    font-family: Roboto !important;;
    font-size: 14px !important;;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5 !important;;
    letter-spacing: normal;
    color: #000000 !important;;
}


.team-single-page {
    padding: 75px 0 !important;
}

.team-single-page .team-name {
}

.team-single-page .team-name .job {
    font-size: 14px!important;
    color: #000!important;
}

.team-single-page .line {
    display: none
}

.frontpage .hentry-box .content {
    color: #000000;
}

.about-us-1 {
    color: #262626;
}

.about-us-2 .column-content-inner .font-oswald {
    font-family: 'Roboto';
    font-size: 20px;
    color: #449dd1;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.33px;
}

.sign-up-3 {
    padding: 0 60px;
}

.action-btns .column-content-inner {
    text-align: center;
}

.action-btns .gsc-button.medium {
    font-size: 12px;
    white-space: nowrap;
}

.webform-select-other--wrapper legend{
    border: none;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 7px;
}

#edit-pitch-deck--description {
    display: none;
}

.Inner-header .partners-heading .gsc-heading {
    padding-bottom: 200px;
}

.team-title-desc .title-desc {
    margin-top: 0 !important;
}

/* Popup styles */
.ui-widget-header{
    background: #9DCDDA!important;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6 !important;
    font-weight: 500 !important;
    text-transform: uppercase!important;
    font-size: 18px;
}

#block-footersecond ul.gva_menu li {
}

/* home */
.fa-chevron-down:before {
  font-size: 12px;
  color: #449dd1;
  padding: 0.5rem;
}
a#cta_button_6072864_2c5517b6-947d-4aeb-b707-77350b38c9d6{
  padding: 9px 3.1rem !important;
  border-radius:35px !important;
  background:#00b0c9 !important;
  color:#FFF !important;
  transition: none !important;
  letter-spacing: 1px !important;
  box-shadow: 0 0 20px 0 rgba(36, 88, 113, 0.18);
}
#cta_button_6072864_2c5517b6-947d-4aeb-b707-77350b38c9d6 > span > strong > span{
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
a#cta_button_6072864_2c5517b6-947d-4aeb-b707-77350b38c9d6:hover{
  background:#00A6E5 !important;
  color:#0F2E3C !important;
}

#cta_button_6072864_2c5517b6-947d-4aeb-b707-77350b38c9d6 > span > strong > span{
  color:#FFF;
}

.our-ethics{
  color:#FFF;
  font-size: 20px;
  line-height: 1.3;
}

.waves-interior{
  background: url(/sites/default/files/assets/2-About-Us/SVGs/waves-home-new.svg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 22rem 0 12rem 0;
  margin-top: -45px;
  background-size: 100% 85%;
}

.waves-interior .row{
}
#block-waterworks-content > div > div > div > div > div > div > div:nth-child(2){
  z-index: 1;
}
.behind-waves{
  margin-top: -250px;
  padding-top: 170px;
}
.press.behind-waves{
  margin-top: 0;
}
.blue-waves-bg{
  background: url(/sites/default/files/assets/3-How-It-Works/SVGs/blue-waves-bg1.svg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 22rem 0 5rem 0;
  background-size: 100% 100%;
}
.waves-interior-top{
  background: url(/sites/default/files/assets/1-Home/Assets/SVGs/waves-home-new.svg);
}
.waves-interior-top > .bb-inner {
  margin-top: 5rem;
  background: #EDF0F5;
}
.waves-interior-top > .bb-inner > .bb-container{
  margin-top: -5rem;
}
.investment-opp-row, .waves-interior-top{
  padding: 12rem 0 0 0;
  background-size: 100% 105rem;
}
.investment-opp-row .gsc-heading.style-1.fs-30 .title, .waves-interior-top .gsc-heading.style-1.fs-30{
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center;
  padding-bottom: 0 !important;
}
.investment-opp-row .gsc-heading .title-desc, .waves-interior-top .gsc-heading .title-desc{
  font-size: 20px;
  line-height: 1.3;
  color: #245871;
}
.explore-btn-row.gbb-row .bb-inner{
  padding-top: 46px;
  padding-bottom: 50px;
}
.startinvesting-learnmore{
  font-size: 14px;
  font-weight: 500;
  color: #c7d0d4;
  padding-top: 2rem;
}
.startinvesting-learnmore a{
  color: #c7d0d4;
}
.Inner-header.subscribe .gsc-heading.style-1 .title{
  margin-top:0;
}
.gsc-button.bottom-button.small {
  color: #FFF;
  border-color: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 0 ;
  border: none;
  font-size: 14px;
  padding: 3rem 0;
  color:#FFF;
}
.bottom-button{
  margin-left: -5px;
  width: calc(100% + 10px) !important;
}
.bottom-button-row .gsc-column{
  padding:0;
}
.bottom-button.left {
  background: #245871;
}
.bottom-button.right {
  background: #234d61;
}
.bottom-button:hover {
  background: #449DD1;
}
.bottom-button:after {
  content: url(/sites/default/files/assets/0-MAIN-ASSETS/2-Footer/arrow.svg);
  font-size:2rem;
  color:#449dd1;
  padding-left:2rem;
  vertical-align:middle;
}
.bottom-button:hover:after {
  filter: brightness(100);
}
.footer-right{
  text-align:right;
  font-size:13px;
}
.footer-right a{
  color:#FFF;
}
.footer-right.contact a{
  font-size:18px;
  color:#449dd1;
  font-weight: 500;
}
.footer-terms{
  color:#728994;
  border-top: solid 0.5px #728994;
  padding-top: 2rem;
  margin: 5rem 0 10rem 0;
}
.footer-logo img{
  height: 35px;
  text-align: right;
}
.footer-logo .widget-content{
  text-align: right;
}
.bluish-grey{
  color:#728994;
  font-weight: bold;
  margin: 0;
  line-height: 10px;
}
#backtotop {
  display: none !important;
}

/*about*/
.steps-row{
  margin-top:25px;
}
.steps-row, .steps-row h3{
  color:#FFF;
}
.waves-interior .steps-row, .steps-row h3{
  color:unset;
  text-align: center;
}
.steps-row h3{
  border:solid 3px;
  border-radius:50%;
  width:44px;
  padding:3px;
  margin: 0 auto;
  background: #0f2e3c;
  border-color: #449dd1;
  font-weight: 900;
}
.waves-interior .steps-row h3{
  background: #edf0f6;
}
.blue-waves-bg .steps-row h3{
  background: #449dd1;
  border-color: #FFF;
}
.blue-waves-bg .steps-row p{
  color:#0f2e3c;
}
.blue-waves-bg .steps-row h5{
  color:#FFF;
}
.steps-row h5{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:90px;
  text-align: center;
}
.steps-row p{
  max-width: 280px;
  margin: 0 auto;
}
.grey-bg{
  background:#edf0f6;
}
.lite-blue-bg{
  background:#449dd1;
  color:#0f2e3c;
}
.lite-blue-bg h5{
  color:#FFF;
  padding-bottom: 0.5em;
}
.dark-bg, .dark-bg h1, .dark-bg h2, .dark-bg h3{
  color:#FFF;
}
.dash-before-paragraphs > .row > div:before{
  content:' ';

}
.lite-blue-bg .dash-before-paragraphs > .row h5:before{
  border-top: solid 2px #0f2e3c;
  content:"";
  width:30px;
  position:absolute;
  top: 2.8em;
}
.dash-before-paragraphs > .row > div{
  padding-top:18px;
  padding-right: 40px;
  padding-bottom: 1.5rem;

}
.fa-times:before{
  font-size: 5rem;
  font-weight: 100;
  content: "×";
}

.modal{
  color:#245871;
  font-size:20px;
  line-height: 1.3;
}
.modal-content, .modal-header{
  border-radius:0;
  border:none;
}
.modal-header{
  height:50px;
}
.modal-body{
  padding:0 5rem 5rem 5rem;
}
.modal .team-image{
  position:absolute;
  top:93px;
}
.modal .team-quote{
  padding-top:6.6rem
}
.modal .item-image, .modal .read-more{
  display:none;
}
.modal .team-name{
  font-size:24px;
  color:#0f2e3c;
  font-weight: 500;
}
.modal .team-job{
  padding-bottom:2rem
}
.modal .modal-dialog{
  width:800px;
  padding-top: 15%;
}
.modal .close {
  color: #245871;
  opacity: unset;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 0.8rem;
}
.modal .close span{
  color: #449dd1;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 2rem 1rem 2rem;
  vertical-align: sub;
}
.modal-backdrop {
  background-color: rgba(15, 46, 60, 1);
}
.modal-backdrop.in {
  opacity: 0.9;
}
.captcha{
  margin: 0 auto;
  width: 300px;
}
/* 5 columns support */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.partners .col-xs-5ths,
.partners .col-sm-5ths,
.partners .col-md-5ths,
.partners .col-lg-5ths {
  text-align: center;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media screen and (max-width: 992px) {
  .steps-row h3 {
    width: 35px;
    float: left;
  }
  .steps-row h5{
    position: relative;
    margin-left: unset;
    margin-right: unset;
    top: 0;
    text-align: left !important;
    padding-left: 5.2rem;
    font-size: 20px;
    margin-top: -5px;
  }
  .steps-row .column-content p {
    text-align: left !important;
    padding-left: 3.5rem;
    position: relative;
    top: -5px;
    margin-bottom: 20px;
  }
  .partners img{
    height:90px;
    width:120px;
    object-fit:contain;
    margin-top:3.5rem;
  }
  .modal-dialog{
    width:unset !important;
  }
  .blue-waves-bg{
    padding: 16rem 0 0 0;
  }
  .Inner-header.subscribe .gsc-heading.style-1 .title{
    font-size: 42px;
    font-weight: 300;
  }
  .Inner-header.subscribe .gsc-heading.style-1 .title-desc{
    font-size: 18px;
  }
  .waves-interior.how-it-works {
    background-size: 100% 70rem;
  }
  /*accordion*/
  .wwf-accordion .panel-heading .panel-title {
    font-size: 20px !important;
  }
  .wwf-accordion .panel .panel-heading .panel-title > a {
    padding-left:0;
  }
  .panel-body {
    padding: 0 15px 50px;
  }
  .panel h2, .panel h2 span, .panel h4 span, .panel h4 {
    font-size: 20px !important;
  }
  .lite-blue-bg h5 {
    font-size: 20px;
  }
  .panel.open .panel-heading {
    padding: 18px !important;
  }
  .dash-before-paragraphs > .row > div {
    padding-bottom: 0;
  }
  .btn-full-width.extra-large.gsc-button {
    font-size: 20px;
  }
  .btn-full-width:after {
    margin-left: 1rem;
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
  .steps-row:before {
    content: '';
    width: 100%;
    border-bottom: solid 1px #FFF;
    display: block;
    position: absolute;
    top: 22px;
    letter-spacing: 1px;
  }
  .steps-row p:before{
    font-family: monospace;
    content:'.';
    display:flex;
    border:solid 1px #FFF;
    width:1px;
    margin:0 auto;
    justify-content:center;
    text-align:center;
    vertical-align:bottom;
    font-weight:bolder;
    font-size:40px;
    max-height:40px;
    margin-bottom: 20px;
  }
  .waves-interior .steps-row p:before, .waves-interior .steps-row:before, .blue-waves-bg .steps-row p:before, .blue-waves-bg .steps-row:before{
    border-color:#245871;
  }
  .blue-waves-bg .steps-row p:before{
    color:#0f2e3c;
  }
  .waves-interior .steps-row p:before, .blue-waves-bg .steps-row p:before{
    margin-bottom: 50px;
  }
  .blue-waves-bg.fullheight {
    background: url(/sites/default/files/assets/3-How-It-Works/SVGs/blue-waves-bg1-btm1.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0 0 12rem 0;
    margin-bottom:10rem
  }
  .gbb-row.blue-waves-bg.fullheight .bb-inner.remove_padding {
    padding-top: 13rem !important;
    background-color:#449DD1;
  }
  .waves-interior.how-it-works{
    background-size: 100% 75rem;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
